<div class="container form-container">
    <h3 class="text-center">Change Password</h3>

    <div class="row my-5 align-items-center justify-content-center d-flex">
        <form [formGroup]="form" class="col-lg-6" (ngSubmit)="submit()">
            <div class="form-group my-3">
                <label for="password" class="form-label">Old Password</label>
                <div class="input-group">
                    <input type="{{showOldPass? 'text': 'password'}}" class="form-control" [ngClass]="{'is-invalid': isSubmitted && form.get('old_password')?.errors}" formControlName="old_password" name="old_password" id="old_password" autocomplete="off">
                    <span class="input-group-addon p-2">
                        <i class="pointer" [ngClass]="{'ri-eye-off-fill': showOldPass, 'ri-eye-fill': !showOldPass}" (click)="showOldPass=!showOldPass"></i>
                    </span>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="password" class="form-label">New Password</label>
                <div class="input-group">
                    <input type="{{showNewPass? 'text': 'password'}}" class="form-control" [ngClass]="{'is-invalid': isSubmitted && form.get('new_password')?.errors || isSubmitted && form.hasError('isPasswordNotMatched')}" formControlName="new_password" name="new_password" id="new_password" autocomplete="off">
                    <span class="input-group-addon p-2">
                        <i class="pointer" [ngClass]="{'ri-eye-off-fill': showNewPass, 'ri-eye-fill': !showNewPass}" (click)="showNewPass=!showNewPass"></i>
                    </span>
                </div>
                <password-strength-meter [password]="form.value.new_password"></password-strength-meter>
            </div>
            <div class="form-group my-3">
                <label for="password" class="form-label">Confirm Password</label>
                <div class="input-group">
                    <input type="{{showConfPass? 'text': 'password'}}" class="form-control" [ngClass]="{'is-invalid': isSubmitted && form.get('confirm_password')?.errors || isSubmitted && form.hasError('isPasswordNotMatched')}" formControlName="confirm_password" name="confirm_password" id="confirm_password" autocomplete="off">
                    <span class="input-group-addon p-2">
                        <i class="pointer" [ngClass]="{'ri-eye-off-fill': showConfPass, 'ri-eye-fill': !showConfPass}" (click)="showConfPass=!showConfPass"></i>
                    </span>
                </div>
            </div>
            <div class="container overflow-hidden">
                <div class="row gap-4">
                    <button class="btn btn-outline-secondary col" (click)="reset()" type="button">Reset</button>
                    <button class="btn btn-secondary col" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>