.form-container{
    padding-top: 50px;
    padding-bottom: 100px;
}

@media (max-width: 768px) { 
    .form-container{
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

@media (max-width: 576px) { 
    .form-container{
        padding-top: 100px;
        padding-bottom: 30px;
    }
}