<div class="container py-5">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="row my-3">
                <div class="col">
                    <h5><span><i class="ri-store-3-line me-2"></i>
                    </span> Visit us at:</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h5><span><i class="ri-phone-fill me-2"></i></span>Contact us at:</h5>
                    <p>09667642440</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h5><span><i class="ri-mail-line me-2"></i></span>Email us at:</h5>
                    <p><a href="mailto:gwenpena21@gmail.com">gwenpena21@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="row my-3">
                <div class="col">
                    <h5 class="text-center">Opening Hours</h5>
                    <p>Monday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">7:00 am - 5:00pm</span></p>
                    <p>Tuesday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">7:00 am - 5:00pm</span></p>
                    <p>Wednesday&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">10:00 am - 5:00pm</span></p>
                    <p>Thursday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">7:00 am - 5:00pm</span></p>
                    <p>Friday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">10:00 am - 5:00pm</span></p>
                    <p>Saturday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">8:00 am - 5:00pm</span></p>
                    <p>Sunday&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----------------------&nbsp;&nbsp;&nbsp;<span class="fw-bold">7:00 am - 5:00pm</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="row my-3">
                <div class="col">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia quisquam esse id similique quis amet nostrum repellendus possimus cupiditate. Reprehenderit odio eligendi dolore quis soluta laudantium eius quaerat sunt tempore!</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="w-100 logo" src="/assets/img/logo.png" alt="Coffee Corner Logo">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn sign_up"><a routerLink="/sign_up">Sign Up</a></button>
                    <button class="btn login"><a routerLink="/login">Login</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row footer-end d-flex justify-content-between align-items-center">
        <div class="col text-start mt-3">
            <p> &copy; 2019 - {{year}} All rights reserved.</p>
        </div>
        <div class="col text-center">
            <a href="#"><i class="ri-facebook-circle-fill mx-2"></i></a>
            <a href="#"><i class="ri-instagram-fill mx-2"></i></a>
            <a href="#"><i class="ri-youtube-fill mx-2"></i></a>
        </div>
        <div class="col text-end mt-3">
            <p>Coffee Corner</p>
        </div>
    </div>
</div>