.form-container{
    padding-top: 50px;
    padding-bottom: 70px;
}

@media (max-width: 768px) { 
    .form-container{
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

@media (max-width: 576px) { 
    .form-container{
        padding-top: 200px;
        padding-bottom: 30px;
    }
}