<app-header></app-header>
<div class="container form-container">
    <h3 class="text-center">Forgot Password</h3>

    <div class="row my-5 align-items-center justify-content-center d-flex">
        <form [formGroup]="form" class="col-lg-6" (ngSubmit)="submit()">
            <div class="form-group my-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" [ngClass]="{'is-invalid': isSubmitted && form.get('email')?.errors}" formControlName="email" name="email" id="email">
            </div>
            <div class="container overflow-hidden">
                <div class="row gap-4">
                    <button class="btn btn-outline-secondary col" (click)="reset()" type="button">Reset</button>
                    <button class="btn btn-secondary col" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>