<app-header></app-header>
<ngb-carousel [interval]="5000">
	<ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/coffee1.jpg');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/coffee2.jpg');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/beans1.jpg');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/cake1.jpg');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/cake2.jpg');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
    <ng-template ngbSlide>
		<div class="img" style="background-image: url('/assets/img/shop.png');">
		</div>
		<div class="carousel-caption">
			<h3 class="fw-bolder">We make freshly brewed coffee</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis vel odit omnis voluptatum inventore, delectus nulla rem facere neque odio ullam aspernatur nihil molestiae libero! Harum quisquam excepturi rem enim</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="container-fluid">
    <div class="row desc-section">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
            <img class="w-100 py-5" src="/assets/img/hqcoffee.jpg" alt="Coffee Beans">
        </div>
        <div class="col-lg-6 col-sm-12 col d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-center mb-5">The Best Roast in Town</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, consectetur perferendis! Similique sunt mollitia, porro, eaque et eum provident accusantium veniam odit fugit officiis minima amet dolores explicabo quasi ratione!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, sint repellat! Eos sunt magni tenetur rem necessitatibus. Accusantium, nisi. Deserunt eos officia asperiores dolore perferendis reiciendis magni saepe libero perspiciatis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita vitae ipsum velit consequatur sint neque aut nobis saepe, fugiat amet numquam minima, a repellendus. Error voluptas ex possimus veritatis illo!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>